
{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}


    <section class="s-content s-content--single">
        <!-- back button and counts for large screens -->
        <div class="row d-none d-lg-flex">
            <!-- Back to Articles Home Button -->
            <div class="large-4 mob-12 column">
                <a href="{% url 'home' %}">
                    <h6 class="text-secondary"> &larr; Back to Articles </h6>
                </a>
            </div>
            <div class="large-4 mob-12 column"></div>
            <!-- Displaying count of likes and comments -->
            <div class="large-4 mob-12 column">
                <h6 class="text-secondary text-end">
                    <i class="far fa-heart"></i> {{ article_likes_count }}
                    <i class="far fa-comments"></i> {{ article_comment_count }}
                </h6>
            </div>
        </div>
        <!-- back button and counts for small screens -->
        <div class="row d-lg-none">
            <!-- Back to Articles Home Button -->
            <div class="col">
                <a href="{% url 'home' %}">
                    <h6 class="text-secondary"> &larr; Back</h6>
                </a>
            </div>
            <!-- Displaying count of likes and comments -->
            <div class="col">
                <h6 class="text-secondary text-end">
                    <i class="far fa-heart"></i> {{ article_likes_count }}
                    <i class="far fa-comments"></i> {{ article_comment_count }}
                </h6>
            </div>
        </div>
        <!-- main article content -->
        <div class="row">
            <div class="column large-12">
                <article class="s-post entry format-standard">
                    <!-- Primary image for Article -->
                    <div class="s-content__media">
                        <div class="s-content__post-thumb">
                            {% if "placeholder" in article.primary_image.url %}
                            <img src="{% static 'images/kch-article-placeholder.webp' %}" class="scale" alt="placeholder">
                            {% else %}
                            <img src=" {{ article.primary_image.url }}" class="scale" alt="{{ article.title }}">
                            {% endif %}
                        </div>
                    </div>
                    <!-- Body of article -->
                    <div class="s-content__primary">
                        <!-- Article title  -->
                        <h2 class="s-content__title s-content__title--post">{{ article.title }}</h2>
                        <!-- Article created date then Article Tag -->
                        <ul class="s-content__post-meta">
                            <li class="date">{{ article.created_on }}</li>
                            <li class="cat display-6">{{ article.get_tags_display }}</li>
                        </ul>
                        <!-- Article content | use safe filter -->
                        <p class="lead">
                            {{ article.excerpt | safe }}
                        </p>
                        <figure class="pull-quote">
                            <blockquote>
                               <p>{{ article.pull_quote }}</p> 
                            </blockquote>
                        </figure>
                        <p>
                            {{ article.content | safe }}
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <!-- Like button -->
        {% if user.is_authenticated %}
        <div class="row">
            <div class="column large-12">
                <div class="s-content__primary">
                    <form method="post" id="likeForm">
                        {{ article_like_form.like }}
                        {% csrf_token %}

                        {% if user_like and user_like.like %}
                        <button class="btn btn--like liked" type="button" id="likeButton">
                            <i class="fas fa-heart fa-xl"></i> Liked
                        </button>
                        <p class="text-secondary">Thanks for liking it!</p>
                        {% else %}
                        <button class="btn btn--like" type="button" id="likeButton">
                            <i class="far fa-heart fa-xl"></i> Like
                        </button>
                        <p class="text-secondary">Like this article?</p>
                        {% endif %}
                        
                    </form>
                </div>
            </div>
        </div>
        {% endif %}

        <!-- User Navigation to other articles -->
        <div class="row">
                <!-- Previous Article Button -->
                <div class="large-4 mob-12 column">
                    {% if prev_article %}
                    <a href="{% url 'single_article' prev_article.slug %}" >
                        <h6>&larr; PREVIOUS </h6>
                        <p>{{ prev_article.title }}</p>
                    </a>
                    {% endif %}
                </div>
            
                <!-- Back to Home Button -->
                <div class="large-4 mob-12 column text-center">
                    <a href="{% url 'home' %}" class="btn btn--stroke">
                        Back to Articles
                    </a>
                </div>
            
                <!-- Next Article Button -->
                <div class="large-4 mob-12 column text-end">
                    {% if next_article %}
                    <a href="{% url 'single_article' next_article.slug %}">
                        <h6>NEXT &rarr;</h6> 
                        <p>{{ next_article.title }}</p>
                    </a>
                    {% endif %}
                </div>
        </div>

        <!-- Comments Section -->
        <div class="comments-wrap">
            <div id="comments" class="row">
                <div class="column">
                    <h3>{{ article_comment_count }} Comments</h3>
                    <ol class="commentlist">
                        {% for comment in article_comments %}
                        <li class="depth-1 comment {% if not comment.approved and comment.author == user %}
                        faded{% elif not comment.approved %} d-none{% endif %}">
                            <div class="comment__avatar">
                                <img src="{% static 'images/kch-user-icon-05.webp' %}" class="avatar" 
                                alt="user-icon" width="50" height="50">
                            </div>
                            <div class="comment__info">
                                <div class="comment__author">{{ comment.author }}</div>
                                <div class="comment__meta">
                                    <div class="comment__time">{{ comment.created_on }}</div>
                                </div>
                            </div>
                            {% if not comment.approved and comment.author == user %}
                            <div class="comment__text text-secondary" id="comment{{ comment.id }}">{{ comment.body | linebreaks }}</div>
                            
                            <p>
                            This comment is awaiting approval
                            </p>
                            {% else %}
                            <div class="comment__text" id="comment{{ comment.id }}">{{ comment.body | linebreaks }}</div>
                            {% endif %}
                            {% if user.is_authenticated and comment.author == user %}
                            <button class="btn btn-edit"
                                data-comment_id="{{ comment.id }}">Edit</button>
                            <button class="btn btn-delete btn--primary"
                                data-comment_id="{{ comment.id }}">Delete</button>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <!-- Comments Form-->
            <div class="row comment-respond">
                <div class="column" id="respond">
                    {% if user.is_authenticated %}
                    <h3>Leave a comment:</h3>
                    <p>Posting as: {{ user.username }}</p>
                    <form id="commentForm" method="post">
                        <div class="message form-field">
                        {{ article_comment_form | crispy }}
                        {% csrf_token %}
                        </div>
                        <button id="submitButton" class="btn btn--primary btn-wide btn--large h-full-width" 
                            type="submit">Add comment</button>
                    </form>
                    {% else %}
                    <p>Log in to leave a comment</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1"
        aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"
                    id="deleteModalLabel">Delete comment?</h5>
                    <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Are you sure you want to delete your comment?
                This action cannot be undone.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="#" class="btn
                    btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block extras %}
<script src="{% static 'js/comments.js' %}"></script>
<script src="{% static 'js/likes.js' %}"></script>
{% endblock %}