
{% extends 'base.html' %} {% block content %}
{% load static %}


    <section class="s-content s-content--single">
        <!-- Displaying count of comments -->
        <div class="row">
            <div class="column large-12">
                <p class="text-secondary text-end">
                    <i class="far fa-comments"></i> {{ article_comment_count }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="column large-12">
                <article class="s-post entry format-standard">
                    <div class="s-content__media">
                        <div class="s-content__post-thumb">
                            <img src="{% static 'images/kch-article-placeholder.webp' %}" class="scale" alt="placeholder">
                        </div>
                    </div>

                    <div class="s-content__primary">
                        <!-- Article title  -->
                        <h2 class="s-content__title s-content__title--post">{{ article.title }}</h2>
                        <!-- Article author | created date then Article Tag -->
                        <ul class="s-content__post-meta">
                            <li class="date">{{ article.created_on }}</li>
                            <li class="cat display-6">{{ article.get_tags_display }}</li>
                        </ul>
                        <!-- Article content | use safe filter -->
                        <p class="lead">
                            {{ article.excerpt | safe }}
                        </p>
                        <figure class="pull-quote">
                            <blockquote>
                               <p>{{ article.pull_quote }}</p> 
                            </blockquote>
                        </figure>
                        <p>
                            {{ article.content | safe }}
                        </p>
                    </div>
                </article>
            </div>
        </div>
        <!-- Displaying Comments -->
        <div class="row">
            <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags
                to iterate through each comment in comments -->
                {% for comment in article_comments %}
                <div class="p-2 comments
                {% if not comment.approved and comment.author == user %}
                faded{% elif not comment.approved %} d-none{% endif %}">
                <p class="font-weight-bold">
                    {{ comment.author }}
                    <span class="font-weight-normal">
                    {{ comment.created_on }}
                    </span> wrote:
                </p>
                <div id="comment{{ comment.id }}">
                    {{ comment.body | linebreaks }}
                </div>
                {% if not comment.approved and comment.author == user %}
                <p class="approval">
                    This comment is awaiting approval
                </p>
                {% endif %}
                </div>
                <!-- Our for loop ends here -->
                {% endfor %}
            </div>
            </div>
        </div>
    </section>

{% endblock content %}
