
{% extends 'base.html' %} {% block content %}
{% load static %}


    <section class="s-content s-content--single">
        <div class="row">
            <div class="column large-12">
                <article class="s-post entry format-standard">
                    <div class="s-content__media">
                        <div class="s-content__post-thumb">
                            <img src="{% static 'images/kch-article-placeholder.webp' %}" class="scale" alt="placeholder">
                        </div>
                    </div>

                    <div class="s-content__primary">
                        <!-- Article title  -->
                        <h2 class="s-content__title s-content__title--post">{{ article.title }}</h2>
                        <!-- Article author | created date then Article Tag -->
                        <ul class="s-content__post-meta"></ul>
                            <li class="date">{{ article.author }} | {{ article.created_on }}</li>
                            <li class="cat">{{ article.get_tags_display }}</li>
                        </ul>
                        <!-- Article content | use safe filter -->
                        <p class="lead">
                            {{ article.excerpt | safe }}
                        </p>
                        <figure class="pull-quote">
                            <blockquote>
                               <p>{{ article.pull_quote }}</p> 
                            </blockquote>
                        </figure>
                        <p>
                            {{ article.content | safe }}
                        </p>
                    </div>

                </article>
            </div>
        </div>
    </section>

{% endblock content %}
