{% load static %}

{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}

<!DOCTYPE html>
<html class="h-100" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Meta tags for search engines -->
    <meta name="description"
        content="Kumiko Community Hub. A blog and forum for kumiko enthusiasts and woodworkers to share thier experiences">
    <meta name="keywords" content="Kumiko, Kumiko help, kumiko resources, kumiko course, kummiko community, japan, japanese woodworking, japanese kumiko, kumiko projects, kumiko books">
    
    <!-- Title -->
    <title>Kumiko Community Hub</title>

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    
    <!-- CSS from Abstract template -->
    <link rel="stylesheet" href="{% static 'css/abstract.css' %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    

</head>

<body class="d-flex flex-column h-100 main-bg">

    <!-- Navigation -->

        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{% static 'images/kch-logo.webp' %}" alt="home"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                                href="{% url 'home' %}"><strong>Kumiko Community Hub</strong></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == home_url %}active{% endif %}" aria-current="page"
                                href="{% url 'home' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == about_url %}active{% endif %}" aria-current="page"
                                href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == contact_url %}active{% endif %}" aria-current="page"
                                href="{% url 'contact' %}">Contact</a>
                        </li>
                        
                    </ul>
                    <div class="navbar-text text-muted">
                        {% if user.is_authenticated %}
                        <p class="text-end m-3">You are logged in as {{ user }}</p>
                        {% else %}
                        <p class="text-end m-3">You are not logged in</p>
                        {% endif %}
                    </div>
                    <ul class="nav justify-content-end">
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
                                href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

    <!-- displaying Django messages -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert alert-box alert-box--{{ message.tags }} alert-dismissible
                    fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close alert-box__close"
                    data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <main class="flex-shrink-0 main-bg">

        {% block content %}
        <!-- Content Goes here -->
        <p>This is my default paragraph if things go wrong! Oops!</p>
        {% endblock content %}

    </main>

    <!-- Footer -->
     <!-- footer
    ================================================== -->
    <footer class="s-footer">

        <div class="s-footer__main">

            <div class="row">

                <div class="column large-4 medium-6 tab-12 s-footer__info">

                    <h5>About Our Site</h5>

                    <p>
                        KCH is a vibrant community hub for individuals who are passionate about kumiko, providing a welcoming space for people to learn, share, and grow their skills in this intricate art form.
                    </p>

                </div> <!-- end s-footer__info -->

                <div class="column large-2 medium-3 tab-6 s-footer__site-links">

                    <h5>Site Links</h5>

                    <ul>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="{% url 'home' %}">Articles</a></li>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>

                </div> <!-- end s-footer__site-links -->  

                <div class="column large-2 medium-3 tab-6 s-footer__social-links">

                    <h5>Social</h5>

                    <ul>
                        <li><a href="https://dribbble.com/" target="_blank" rel="noopener"
                            aria-label="Dribbble homepage (opens in a new tab)">Dribbble</a></li>
                        <li><a href="https://uk.pinterest.com/" target="_blank" rel="noopener"
                            aria-label="Pinterest homepage (opens in a new tab)">Pinterest</a></li>
                        <li><a href="https://www.instagram.com/" target="_blank" rel="noopener"
                            aria-label="Instagram homepage (opens in a new tab)">Instagram</a></li>
                    </ul>

                </div> <!-- end s-footer__social links --> 

                <div class="column large-4 medium-12 s-footer__subscribe">

                    <h5>Got a question? </h5>

                    <p>Send us a message. All feedback is welcome.</p>

                    <div class="subscribe-form">
                        <a href="{% url 'contact' %}" class="btn h-full-width">Let us know whats up</a>
                    </div>

                </div> <!-- end s-footer__subscribe -->

            </div> <!-- end row -->

        </div> <!-- end s-footer__main -->

        <div class="s-footer__bottom">
            <div class="row">
                <div class="column">
                    <div class="ss-copyright">
                        <span>© Copyright Annytomica 2024</span> 
                        <span>Template Design by <a href="https://www.styleshout.com/" target="_blank" rel="noopener"
                            aria-label="StyleShout homepage (opens in a new tab)">StyleShout</a></span>		         	
                    </div> <!-- end ss-copyright -->
                </div>
            </div> 

            <div class="ss-go-top">
                <a class="smoothscroll" title="Back to Top" href="#top">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M6 4h12v2H6zm5 10v6h2v-6h5l-6-6-6 6z"/></svg>
                </a>
            </div> <!-- end ss-go-top -->
        </div> <!-- end s-footer__bottom -->

    </footer> <!-- end s-footer -->

    <!-- Bootstrap JavaScript --> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    
    <!-- JavaScript from Abstract template --> 
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>

    <!-- Custom JavaScript-->
    {% block extras %}
    {% endblock %}

</body>

</html>