{% extends 'base.html' %}
{% block content %}
{% load static %}

<section class="s-content site-page">
  <div class="row">
    <div class="column large-12">
      <section>
        <div class="s-content__media">
          <div class="row block-large-1-2 block-tab-full s-content__blocks">
            <div class="column">
              <h2 class="opening">{{ about.opening }}</h2>
              <p>{{ about.body | safe }}</p>
              <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
            </div>
            <div class="column">
              {% if "placeholder" in article.primary_image.url %}
              <img src="{% static 'images/kch-article-placeholder.webp' %}" class="scale" alt="placeholder">
              {% else %}
              <img src="{{ about.profile_image.url }}" class="scale" alt="{{ about.opening }}">
              {% endif %}
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="container-fluid banner">
    <div class="row align-items-center">
      <div class="col-md-9 text-center gy-4">
        <p class="p__banner">The world's largest Kumiko sharing community, inspiring people the learn and thrive together</p>
      </div>
      <div class="col-md-3 text-center">
        <a href="{{ signup_url }}" class="link btn">Join Now!</a>
      </div>
    </div>
  </div>
  
</section>

{% endblock content %}