{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<section class="s-content site-page">
  <div class="row">
    <div class="column large-12">
      <section>
        <div class="s-content__media">
          <div class="row block-large-1-2 block-tab-full s-content__blocks">
            <div class="column">
              {% if "placeholder" in article.primary_image.url %}
              <img src="{% static 'images/kch-article-placeholder.webp' %}" class="scale" alt="placeholder">
              {% else %}
              <img src=" {{ contact.contact_image.url }}" class="scale" alt="{{ contact.opening }}">
              {% endif %}
            </div>
            <div class="column">
              <h2 class="opening">{{ contact.opening }}</h2>
              <p>{{ contact.body | safe }}</p>
            </div>
          </div>
        </div>
        <div class="s-content__primary">
          <form class="s-content__form" method="post">
            {{ contact_message | crispy }}
            {% csrf_token %}
            <button class="submit btn btn--primary btn--medium h-full-width" type="submit">Submit</button>
          </form>
        </div>
      </section>
    </div>
  </div>
</section>

{% endblock content %}