/** General Custom Styles **/

.fa, .fas, .far {
    font-size: x-large;
}

.btn--like {
    background: transparent !important;
    border: none;
}

.container-fluid.hero {
    padding: 0;
}

.hero picture, .hero picture source {
    width: 100%;
    height:auto;
}

.opening {
    margin-top: 0;
}

.banner {
    background-color: black;
    padding-top: 1.5rem;
}

.p__banner {
    color: #fff;
    font-weight: 500;
}

.article__counts {
    padding-top: 1.5rem;
}


/**  Media queries for General Custom Styles  **/
/* for mobiles below 450px */
@media screen and (max-width: 425px) {
    /* hide excerpt on article cards to reduce scrolling */
    .entry__excerpt {
        display: none;
    }
    .article__counts {
        padding-top: 0;
    }
}
/* for small screens below 800px*/
@media screen and (max-width: 800px) {
    .opening {
        margin-top: 2rem;
    }
}

/** CSS for overriding conflicting crispy form and Abstract form styles **/

/** Overides Abstract auto margin-bottom on img **/
.navbar-brand img {
    margin-bottom: 0;
    margin-left: 1.5rem;
}

/** Overides really small font size in text-area and area styling inherited from crispy forms **/
.form-control {
    padding: 1.6rem;
    font-size: calc(1.8rem/1.2);
    background-color: rgba(0, 0, 0, 0.07);
    border: 1px solid transparent;
}

/** Overides small crispy-forms default textarea size **/
textarea.form-control {
    min-height: 20rem;
}

/** removes large padding-top **/
.comment-respond form {
    padding: 0;
}

/** removes asterisk from label of crispy form field **/
.asteriskField {
    display: none;
}

/** hides 'body' title of crispy form field **/
.form-label {
    display: none;
}